<div class='teambuild-manage'>
  {{#if targets}}
    {{#each sortedTargets as |target|}}
      {{teambuild-target target=target removeTarget=(action "removeTarget" target)}}
    {{/each}}
  {{else}}
    <div class='get-started'>{{i18n "discourse_teambuild.manage.get_started"}}</div>
  {{/if}}

  <div class='controls'>
    {{d-button
      class="btn-primary create-target"
      label="discourse_teambuild.targets.create"
      icon="plus"
      action=(action "newTarget")}}
  </div>
</div>
