<div class="team-build">
  <h1>{{siteSettings.teambuild_name}}</h1>

  <ul class="nav nav-pills">
    <NavItem
      @route="teamBuild.index"
      @label="discourse_teambuild.scores.title"
    />
    <NavItem
      @route="teamBuild.progress"
      @label="discourse_teambuild.progress.title"
    />
    {{#if currentUser.staff}}
      <NavItem
        @route="teamBuild.manage"
        @label="discourse_teambuild.manage.title"
        @icon="wrench"
      />
    {{/if}}
  </ul>

  {{outlet}}
</div>