.team-build {
  h1 {
    margin-bottom: 0.5em;
  }
}

.high-scores {
  min-width: 300px;
  td {
    padding: 0.25em;
  }
  .user {
    .avatar {
      margin-right: 0.5em;
    }
    a {
      font-weight: bold;
      color: $primary-high;
    }
  }
  .rank {
    padding-left: 1em;
    .emoji {
      margin-left: 0.5em;
    }
  }
  td.score {
    font-size: 1.5em;
    text-align: center;
  }
  th.score {
    text-align: center;
  }
  tr.me {
    background-color: $highlight-medium;
  }
}

.all-goals {
  margin-top: 1em;
  margin-bottom: 1em;

  .goal-type .description {
    margin-bottom: 1em;
    font-size: 1.25em;
  }
}
.completed-score {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  .username {
    color: $primary-medium;
    margin-right: 0.5em;
  }
}

.multi-goals {
  flex-wrap: wrap;
  .goal {
    width: 200px;
  }
}
.single-goal {
  flex-direction: column;
}

.goals {
  display: flex;

  .goal {
    display: flex;
    align-items: center;

    &.completed {
      font-weight: bold;
    }
    .controls,
    .display-done {
      margin-right: 0.5em;
    }
    margin-bottom: 1em;
  }

  .goal-label {
    .emoji {
      margin-left: 0.25em;
    }
  }
}
